<!DOCTYPE html>
<html>  
    {% block head %}
    {% endblock %}
    {% block content %}
    <head>
        <title>View Anggota</title>
    </head>
    <body>
        <center><h1>Daftar Pesanan /h1></center>
        <table border="1" >
            <tr>
                <th>No Anggota</th>
                <th>nama</th>
                <th>alamat</th>
                <th>Tanggal Lahir</th>
                <th>No_hp</th>
                <th>Angg_pembaca</th>
                <th>Angg_peminjam</th>
                <th>Id</th>
            </tr>
            {% for col in atr %}
            <tr>
                <td>{{ col.0 }}</td>
                <td>{{ col.1 }}</td>
                <td>{{ col.2 }}</td>
                <td>{{ col.3 }}</td>
                <td>{{ col.4 }}</td>
                <td>{{ col.5 }}</td>
                <td>{{ col.6 }}</td>
                <td>{{ col.7 }}</td>
            </tr>
            {% endfor %}
        </table>          
    </body>
<!-- write code here -->
{% endblock %}

{% block script %}
{% endblock %}
