<!DOCTYPE html>
<html>  
    {% block head %}
    {% endblock %}
    {% block content %}
    <head>
        <title>View MENU</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <style>
            body, html {height: 100%}
            
            .menu {display: none}
            .bgimg {
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
                min-height: 90%;
            }
            .navbar{
                font-family: "Amatic SC", sans-serif
            }
        </style>
    </head>
    <body>
        <!-- Navbar (sit on top) -->
        <div class="navbar w3-top w3-hide-small">
                <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
                <a href="/" class="w3-bar-item w3-button">HOME</a>
                <a href="viewProduk/komik" class="w3-bar-item w3-button">KOMIK</a>
                <a href="viewProduk/menu" class="w3-bar-item w3-button">MENU</a>
                <a href="/viewAnggota" class="w3-bar-item w3-button">ANGGOTA</a>
                <a href="/" class="w3-bar-item w3-button">PETUGAS</a>
                <a href="/" class="w3-bar-item w3-button">CAFE</a>
                <a href="/" class="w3-bar-item w3-button">PINJAM</a>
                <a href="/" class="w3-bar-item w3-button">BANK</a>
            </div>
            
         </div>
         <br><br><br>
        <h3>Daftar MENU Pada KOMIKA</h3>
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
            </div>
                <br>
            <div>       
                <table border=1 cellpadding=3 cellspacing=3>
                    <tr>
                        <th>ID</th>
                        <th>HARGA</th>
                    </tr>
                    {% for col in atr %}
                    <center><tr>
                        <td>{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                    </tr></center>
                    {% endfor %}
                </table>   
            </div>       
    </body>
<!-- write code here -->
{% endblock %}

{% block script %}
{% endblock %}
