<div class="container-fluid">
    <br>
    <h2 align="center">Tambah User</h2>
    <div class="container-fluid">
        <table class="table tab-content" align="center">
            <form th:action="@{/user/user/tambah}" th:object="${guruDetail}" method="POST">
                <input type="hidden" th:field="*{uuid_user}" class="form-control" name="id"/>
                <tr>
                    <td>Nama</td>
                    <td><input class="form-control" type="text" name="nama" th:field="*{nama}" required/></td>
                </tr>
                <tr>
                    <td>Tempat Lahir</td>
                    <td><input class="form-control" type="text" name="tempatLahir" th:field="*{tempatLahir}" required/></td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td><input class="form-control" type="date" name="tanggalLahir" th:field="*{tanggalLahir}" required/></td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td><input class="form-control" type="text" name="alamat" th:field="*{alamat}" required/></td>
                </tr>
                <tr>
                    <td>No. Telepon</td>
                    <td><input class="form-control" type="text" name="telepon" th:field="*{telepon}" required/></td>
                </tr>
                <input type="hidden" th:field="${user.uuid}" name="uuid" class="form-control">
                <tr>
                    <td>Username</td>
                    <td><input class="form-control" type="text" th:field="${user.username}" name="username" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input class="form-control" type="password" th:field="${user.password}" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>
                        <div>
                            <select class="form-control" name="role" th:field="${user.role}" required>
                                <option value="" hidden="">Pilih Role</option>
                                <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.idRole}" th:text="${roleAvailable.nama}"></option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary" name="save">Submit</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>
<!-- /.container-fluid -->

</div>