<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock %}
    {% block content %}
    <head>
        <title>View Anggota</title>
    </head>
    <body>
        <h3>Riwayat Transaksi</h3>
        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
            </div>
        </div>
        <br>
        <div>
            <table border=1 cellpadding=3 cellspacing=3>
                <tr>
                    <th>Nomor Urut</th>
                    <th>Nomor Anggota</th>
                    <th>Komik</th>
                    <th>Status</th>
                    <th>Baverages</th>
                    <th>Total</th>
                    <th>Waktu</th>
                    <th>Pembayaran</th>
                    <th>Proses</th>
                </tr>
                {% for col in atr %}
                <center><tr>
                    <td>CF</td>
                    <td>{{ col.4 }}</td>
                    <td>{{ col.1 }}</td>
                    <td>SELESAI BACA</td>
                    <td>{{ col.2 }}</td>
                    <td>{{ col.3 }}</td>
                    <td>{{ col.0 }}</td>
                    <td>CASH</td>
                    <td></td>
                </tr></center>
                {% endfor %}
            </table>
        </div>
    </body>
<!-- write code here -->
{% endblock %}

{% block script %}
{% endblock %}
