<!DOCTYPE html>
<html>
<title>Komika</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  min-height: 90%;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button">HOME</a>
        <a href="viewProduk/komik" class="w3-bar-item w3-button">KOMIK</a>
        <a href="viewProduk/menu" class="w3-bar-item w3-button">MENU</a>
        <a href="/viewAnggota" class="w3-bar-item w3-button">ANGGOTA</a>
        <a href="/" class="w3-bar-item w3-button">PETUGAS</a>
        <a href="/" class="w3-bar-item w3-button">CAFE</a>
        <a href="/" class="w3-bar-item w3-button">PINJAM</a>
        <a href="/viewBank" class="w3-bar-item w3-button">BANK</a>
    </div>
    <!-- {% if user.is_authenticated %}
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button">HOME</a>
        <a href="viewProduk/komik" class="w3-bar-item w3-button">KOMIK</a>
        <a href="viewProduk/menu" class="w3-bar-item w3-button">MENU</a>
        <a href="/viewAnggota" class="w3-bar-item w3-button">ANGGOTA</a>
        <a href="/" class="w3-bar-item w3-button">PETUGAS</a>
        <a href="/" class="w3-bar-item w3-button">CAFE</a>
        <a href="/" class="w3-bar-item w3-button">PINJAM</a>
        <a href="/viewBank" class="w3-bar-item w3-button">BANK</a>
        <a href="/logout" class="w3-bar-item w3-button">LOGOUT</a>
    </div>
    {% else %}
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button">HOME</a>
    </div>
    {% endif %} -->
</div>
  
<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-middle w3-center">
        <span class="w3-text-white w3-hide-small" style="font-size:100px">KOMIKA</span>
    </div>
    <!-- {% if anggota.is_authenticated %}
    <div class="w3-display-middle w3-center">
        <span class="w3-text-white w3-hide-small" style="font-size:100px">KOMIKA</span>
        <p><a href="//" class="w3-button w3-xxlarge w3-black">udah Login</a></p>
    </div>
    {% else %}
    <div class="w3-display-middle w3-center">
         <span class="w3-text-white w3-hide-small" style="font-size:100px">KOMIKA</span>
        <p><a href="/login" class="w3-button w3-xxlarge w3-black">Login</a></p>
    </div>
    {% endif %} -->
</header>


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
